@font-face {
	font-family: "font-icon";
  font-weight: normal;
  font-style: normal;
	src: url("../fonts/fi/font-icon.eot?1b7f860256724b2f2e6ca3fde9a51c8e?#iefix") format("embedded-opentype"),
url("../fonts/fi/font-icon.woff2?1b7f860256724b2f2e6ca3fde9a51c8e") format("woff2"),
url("../fonts/fi/font-icon.woff?1b7f860256724b2f2e6ca3fde9a51c8e") format("woff");
}

.fi:before {
  font-family: font-icon !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-right: 6px;
  line-height: 1;
  text-transform: none;
  vertical-align: text-bottom;
}

.fi-plan:before {
	content: "\ea00";
}
.fi-stats-up:before {
	content: "\ea01";
}
.fi-home:before {
	content: "\ea03";
}
.fi-sell:before {
	content: "\ea04";
}
.fi-scale:before {
	content: "\ea05";
}
.fi-lorry:before {
	content: "\ea06";
}
.fi-gauge:before {
	content: "\ea07";
}
.fi-change:before {
	content: "\ea08";
}
.fi-roller:before {
	content: "\ea09";
}
.fi-car:before {
	content: "\ea12";
}
.fi-map-search:before {
	content: "\ea13";
}
.fi-file-checked:before {
	content: "\ea14";
}
.fi-file-list:before {
	content: "\ea15";
}
.fi-file-search:before {
	content: "\ea16";
}
.fi-file-certified:before {
	content: "\ea17";
}
.fi-form:before {
	content: "\ea18";
}
.fi-guide:before {
	content: "\ea19";
}
.fi-folder-file:before {
	content: "\ea20";
}
.fi-folder-open:before {
	content: "\ea21";
}
.fi-calc:before {
	content: "\ea22";
}
.fi-magnifier:before {
	content: "\ea23";
}
.fi-5-star:before {
	content: "\ea24";
}
.fi-thumb-up:before {
	content: "\ea25";
}
.fi-thumb-down:before {
	content: "\ea26";
}
.fi-piggy-bank:before {
	content: "\ea27";
}
.fi-hamburger:before {
	content: "\ea28";
}
.fi-target:before {
	content: "\ea29";
}
.fi-chevron-down:before {
	content: "\ea30";
}
.fi-chevron-right:before {
	content: "\ea31";
}
.fi-chevron-up:before {
	content: "\ea32";
}
.fi-chevron-left:before {
	content: "\ea33";
}
.fi-apple:before {
	content: "\ea34";
}
.fi-android:before {
	content: "\ea35";
}
.fi-windows:before {
	content: "\ea36";
}
.fi-angle-right:before {
	content: "\ea37";
}
.fi-angle-up:before {
	content: "\ea38";
}
.fi-angle-left:before {
	content: "\ea39";
}
.fi-angle-down:before {
	content: "\ea40";
}
.fi-reload:before {
	content: "\ea41";
}
.fi-logout:before {
	content: "\ea42";
}
.fi-close:before {
	content: "\ea43";
}
.fi-bell:before {
	content: "\ea44";
}
.fi-email:before {
	content: "\ea45";
}
.fi-phone:before {
	content: "\ea46";
}
.fi-agenda:before {
	content: "\ea47";
}
.fi-info:before {
	content: "\ea48";
}
.fi-warning:before {
	content: "\ea49";
}
.fi-user:before {
	content: "\ea50";
}
.fi-search:before {
	content: "\ea51";
}
.fi-map:before {
	content: "\ea52";
}
.fi-bin:before {
	content: "\ea53";
}
.fi-pen:before {
	content: "\ea54";
}
.fi-sort-down:before {
	content: "\ea55";
}
.fi-sort-up:before {
	content: "\ea56";
}
.fi-flame:before {
	content: "\ea57";
}
.fi-euro:before {
	content: "\ea58";
}
.fi-check:before {
	content: "\ea59";
}
.fi-camera:before {
	content: "\ea61";
}
.fi-heart:before {
	content: "\eb00";
}
.fi-heart-filled:before {
	content: "\eb01";
}
.fi-calcu:before {
	content: "\eb02";
}
.fi-bubble:before {
	content: "\eb03";
}
.fi-bubbles:before {
	content: "\eb04";
}
.fi-bulb:before {
	content: "\eb08";
}
.fi-envelope:before {
	content: "\eb09";
}
.fi-envelope-opened:before {
	content: "\eb10";
}
.fi-facebook:before {
	content: "\eb11";
}
.fi-google-plus:before {
	content: "\eb12";
}
.fi-house:before {
	content: "\eb13";
}
.fi-map-pin:before {
	content: "\eb15";
}
.fi-persons:before {
	content: "\eb16";
}
.fi-person:before {
	content: "\eb17";
}
.fi-plus:before {
	content: "\eb18";
}
.fi-printer:before {
	content: "\eb19";
}
.fi-question:before {
	content: "\eb20";
}
.fi-share:before {
	content: "\eb21";
}
.fi-star:before {
	content: "\eb22";
}
.fi-star-fill:before {
	content: "\eb23";
}
.fi-bien-vendu:before {
	content: "\eb24";
}
.fi-arrow-left:before {
	content: "\ec00";
}
.fi-arrow-up-left:before {
	content: "\ec01";
}
.fi-arrow-up:before {
	content: "\ec02";
}
.fi-arrow-up-right:before {
	content: "\ec03";
}
.fi-arrow-right:before {
	content: "\ec04";
}
.fi-arrow-down-right:before {
	content: "\ec05";
}
.fi-arrow-down:before {
	content: "\ec06";
}
.fi-arrow-down-left:before {
	content: "\ec07";
}
.fi-crit-balcony:before {
	content: "\ed00";
}
.fi-crit-ball:before {
	content: "\ed01";
}
.fi-crit-buidings:before {
	content: "\ed02";
}
.fi-crit-chimney:before {
	content: "\ed03";
}
.fi-crit-compass:before {
	content: "\ed04";
}
.fi-crit-door-opened:before {
	content: "\ed05";
}
.fi-crit-lift:before {
	content: "\ed06";
}
.fi-crit-man-suit:before {
	content: "\ed07";
}
.fi-crit-mountains:before {
	content: "\ed08";
}
.fi-crit-swimming-pool:before {
	content: "\ed09";
}
.fi-crit-table:before {
	content: "\ed10";
}
.fi-crit-tree:before {
	content: "\ed11";
}
.fi-energy:before {
	content: "\ed12";
}
.fi-lock:before {
	content: "\ed13";
}
.fi-plus-square:before {
	content: "\ed14";
}
.fi-umbrella:before {
	content: "\ed15";
}
.fi-arrow-flip:before {
	content: "\ed16";
}
.fi-check-circle:before {
	content: "\ed17";
}
.fi-road-sign:before {
	content: "\ed18";
}
.fi-facebook-share:before {
	content: "\ed19";
}
.fi-smiley-happy:before {
	content: "\ed20";
}
.fi-minus:before {
	content: "\ed21";
}
.fi-box:before {
	content: "\ed22";
}
.fi-home-3d:before {
	content: "\ed23";
}
.fi-signing:before {
	content: "\ed24";
}
.fi-hammer:before {
	content: "\ed25";
}
.fi-pa:before {
	content: "\ed26";
}
.fi-key-hand:before {
	content: "\ed27";
}
.fi-france:before {
	content: "\ed28";
}
.fi-clock:before {
	content: "\ed29";
}
.fi-google-plus-share:before {
	content: "\ed30";
}
.fi-map-pin-full:before {
	content: "\ed31";
}
.fi-agenda-1month:before {
	content: "\ed32";
}
.fi-agenda-3months:before {
	content: "\ed33";
}
.fi-agenda-3monthsplus:before {
	content: "\ed34";
}
.fi-contract-cdi:before {
	content: "\ed35";
}
.fi-contract-cdd:before {
	content: "\ed36";
}
.fi-contract-other:before {
	content: "\ed37";
}
.fi-second-home:before {
	content: "\ed38";
}
.fi-main-home:before {
	content: "\ed39";
}
.fi-new-build:before {
	content: "\ed40";
}
.fi-timer:before {
	content: "\ed41";
}
.fi-website:before {
	content: "\ed42";
}
.fi-explain:before {
	content: "\ed43";
}
.fi-type-appartement:before {
	content: "\ed44";
}
.fi-type-maison:before {
	content: "\ed45";
}
.fi-type-hotelparticulier:before {
	content: "\ed46";
}
.fi-type-loftsurface:before {
	content: "\ed47";
}
.fi-type-boutique:before {
	content: "\ed48";
}
.fi-type-bureau:before {
	content: "\ed49";
}
.fi-type-immeuble:before {
	content: "\ed50";
}
.fi-type-batiment:before {
	content: "\ed51";
}
.fi-type-parking:before {
	content: "\ed52";
}
.fi-type-terrain:before {
	content: "\ed53";
}
.fi-type-chateau:before {
	content: "\ed54";
}
.fi-type-localcommercial:before {
	content: "\ed55";
}
.fi-district:before {
	content: "\ed56";
}
.fi-load:before {
	content: "\ed57";
}
.fi-smiley:before {
	content: "\ed58";
}
.fi-crit-bedroom-01:before {
	content: "\ed59";
}
.fi-crit-room:before {
	content: "\ed60";
}
.fi-twitter:before {
	content: "\ed61";
}
.fi-linkedin:before {
	content: "\ed62";
}
.fi-youtube:before {
	content: "\ed63";
}
.fi-agencywebsite:before {
	content: "\ed64";
}
.fi-sketch:before {
	content: "\ed65";
}
.fi-notary:before {
	content: "\ed66";
}
.fi-stats-down:before {
	content: "\ed67";
}
.fi-ptz:before {
	content: "\ed68";
}
.fi-pinel-home:before {
	content: "\ed69";
}
.fi-show:before {
	content: "\ed70";
}
.fi-hide:before {
	content: "\ed71";
}
.fi-expertise:before {
	content: "\ed72";
}
.fi-tag:before {
	content: "\ed73";
}
.fi-sign:before {
	content: "\ed74";
}
.fi-cancel:before {
	content: "\ed75";
}
.fi-eye:before {
	content: "\ed76";
}
.fi-geoloc:before {
	content: "\ed77";
}
.fi-creche:before {
	content: "\ed78";
}
.fi-ecole-primaire:before {
	content: "\ed79";
}
.fi-college:before {
	content: "\ed80";
}
.fi-lycee:before {
	content: "\ed81";
}
.fi-enseignement-superieur:before {
	content: "\ed82";
}
.fi-metro:before {
	content: "\ed83";
}
.fi-gare-ferroviaire:before {
	content: "\ed84";
}
.fi-autolib:before {
	content: "\ed85";
}
.fi-velib:before {
	content: "\ed86";
}
.fi-arret-bus:before {
	content: "\ed87";
}
.fi-mairie:before {
	content: "\ed88";
}
.fi-bureau-de-poste:before {
	content: "\ed89";
}
.fi-banque:before {
	content: "\ed90";
}
.fi-education:before {
	content: "\ed91";
}
.fi-transport:before {
	content: "\ed92";
}
.fi-service-public:before {
	content: "\ed93";
}
.fi-man-suit-filled:before {
	content: "\ed94";
}
.fi-bubble-filled:before {
	content: "\ed95";
}
.fi-pedestrian:before {
	content: "\ed96";
}
.fi-crit-size:before {
	content: "\ed97";
}
.fi-share-mail:before {
	content: "\ed98";
}
.fi-tramway:before {
	content: "\ed99";
}
.fi-train:before {
	content: "\ee01";
}
.fi-plane:before {
	content: "\ee02";
}
.fi-boat:before {
	content: "\ee03";
}
.fi-bread:before {
	content: "\ee04";
}
.fi-caddy:before {
	content: "\ee05";
}
.fi-education-wired:before {
	content: "\ee06";
}
.fi-caddy-wired:before {
	content: "\ee07";
}
.fi-health-wired:before {
	content: "\ee08";
}
.fi-ball-wired:before {
	content: "\ee09";
}
.fi-book-wired:before {
	content: "\ee10";
}
.fi-service-public-wired:before {
	content: "\ee11";
}
.fi-tourisme-wired:before {
	content: "\ee12";
}
.fi-crit-plus:before {
	content: "\ee13";
}
.fi-rer:before {
	content: "\ee14";
}
.fi-agenda-filled:before {
	content: "\ee15";
}
.fi-email-filled:before {
	content: "\ee16";
}
.fi-bubbles-filled:before {
	content: "\ee17";
}
.fi-sold:before {
	content: "\ee18";
}
.fi-agenda-strong:before {
	content: "\ee19";
}
.fi-bulb-on:before {
	content: "\ee20";
}
.fi-website-planet:before {
	content: "\ee21";
}
.fi-houseboat:before {
	content: "\ee22";
}
.fi-heart-broken-filled:before {
	content: "\ee23";
}
.fi-garden:before {
	content: "\ef02";
}
.fi-basement-house:before {
	content: "\ef05";
}
.fi-RDC:before {
	content: "\ef08";
}
